
body,html{
	min-height: 100%;
	font-size:14px;
	color: #2E2E2E;
	line-height: 1.5;
	touch-action: none; 
}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{
	color: #B8B8BC;
}
.w576{
	width: 76.8vw;
	margin: 0 auto;
}
.red{
	color: #9E5F3F;
}
.light_red{
	color: #FB2C2E;
}
.orange{
	color: #FF6226;
}
.grey{
	color: #B4B4B4;
}
.alRight{
	text-align: right;
}
.round{
	border-radius:6px
}
p{
	color: #2E2E2E;
	margin-bottom: 0;
}
.border_btm{
	border-bottom: solid 1px #F6F6F6;
}
.wrap{
	margin: 0 4.2667vw;
	padding: 0 4.2667vw 0 6.4vw;
	background: #fff;
}
.two_btns{
	display: flex;
	justify-content: space-between;
}
.two_btns > button{
	width: 45%;
}
.mui-bar-nav{
	box-shadow: none;
	background: #fff;
}
.mui-bar{
	box-shadow: none;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #FB2C2E
}
.mui-action-back{
	color: #272A35;
}

.mui-btn-block{
	padding: 10px 0;
	margin-bottom: 0;
}
.mui-btn-blue{
	border: 0;
	background:linear-gradient(0deg,rgba(30,120,242,1),rgba(49,138,234,1),rgba(30,119,241,1));;
}
.mui-btn-red{
	border: 0;
	background:linear-gradient(90deg,rgba(251,16,53,1) 0%,rgba(253,137,23,1) 100%);
}
.mui-btn-grey{
	border: 0;
	background:#EFEFEF;
}
.mui-btn-danger{
	border: 0;
	background:#FB2C2E;
}
.mui-btn-yellow{
	color: #632C10;
	border: 0;
	background:linear-gradient(90deg,rgba(255,244,178,1) 0%,rgba(255,202,52,1) 100%);
}
.mui-btn-white{
	border: 0;
	color: #FB2C2E;
}
.mui-btn-grey{
	color: #000;
}
.mui-btn-red:enabled:active,
.mui-btn-red.mui-active:enabled, .mui-btn-danger:enabled:active,
.mui-btn-danger.mui-active:enabled{
	border: 0;
}
.mui-btn-grey:enabled:active,
.mui-btn-grey.mui-active:enabled{
	color: #000;
	border: 0;
	background: #dcdcdc;
}
.mui-btn-white:enabled:active,
.mui-btn-white.mui-active:enabled{
	color: #FB2C2E;
	border: 0;
	background: #fff;
}
.mui-btn-danger:enabled:active,
.mui-btn-danger.mui-active:enabled{
	border: 0;
	background: #d22325;
}
.mui-btn-warning:enabled:active, .mui-btn-warning.mui-active:enabled,
.mui-btn-yellow:enabled:active,
.mui-btn-yellow.mui-active:enabled
{
    color: #632C10;
	border: 0;
    background-color: #ec971f;
}
.mui-navigate-right:after, .mui-push-right:after{
	content: ' ';
	width: 9px;
	height: 12px;
	right: 0;
	background:  url(../images/right.png);
	background-size: 100% 100%;
}
.mui-radio input[type='radio'], .mui-checkbox input[type='checkbox']{
	top: 50%;!important;
	margin-top: -13px;
}
.mui-radio input[type='radio']:before, .mui-checkbox input[type='checkbox']:before{
	content: ' '!important;
	
}
.mui-radio input[type='radio']:checked:before, .mui-checkbox input[type='checkbox']:checked:before{
	display: block;
	content: ' '!important;
	width: 28px;
	height: 26px;
	right: 0;
	background:  center url(../images/system-selects@2x.png) no-repeat;
	background-size: 18px 13px;
}
.mui-radio input[type='radio']:checked + label, .mui-checkbox input[type='checkbox']:checked + label{
	color: #FB2C2E;
}
.flex_box{
	position: relative;
	display: flex;
	align-items: center;
}
.flex_box.justify{
	justify-content: space-between;
}
.flex_box .hd,.flex_box .ft{
	flex-shrink: 0;
	flex-grow: 0;
}
.flex_box .hd{
	margin-right: 9px;
}
.flex_box .bd{
	flex: 1;
	width: 100%;
	margin-right: 9px;
	font-weight: bold;
	color: #3E3E3E;
	font-size: 15px;
}
.flex_box .bd.normal, .flex_box .bd .normal{
	font-weight: normal;
}
.flex_box .ft{
	color: #B4B4B4;
	padding-right: 15px;
}
.flex_box  .hd_icon_1{
	width: 4.2667vw;
}

.mui-backdrop{
	/* display: flex;
	align-items: center;
	justify-content: center; */
	background:rgba(0,0,0,0.5);
}
.alert_cont{
	position: fixed;
	width: 84vw;
	padding: 6.4vw;
	top: 50%;
	left: 8vw;
	transform: translateY(-50%);
	background: #fff;
	border-radius: 6px;
}
.alert_cont .title{
	font-size: 18px;
	padding-bottom: 16px;
	text-align: center;
	font-weight:500;
	color:rgba(46,46,46,1);
}
.alert_cont .sub_title{
	text-align: center;
}
.alert_cont .text{
	font-size: 14px;
	line-height: 1.5;
}

.mui-bar-nav ~ .mui-content{
	min-height: 100vh;
	background: #fff;
}
.mui-bar-tab ~ .mui-content{
	/* padding: 0;
	margin: 44px 0 50px; */
	min-height: calc(100vh - 94px);
	background: #fff;
}






.share_template_page{
	background: #fff;
}
.share_template_page .mui-content{
	padding: calc(44px + 6.667vw) 4.226vw 0;
}
.share_template_page .banner_box{
	position: relative;
	border-radius:8px;
	box-shadow:3px 3px 11px rgba(0,0,0,0.21);
}
.share_template_page .banner{
	display: block;
	width: 91.548vw;
	border-radius:8px;
}
.share_template_page .text, .share_template_page .img{
	position: absolute;
}


.share_page{
	background: #fff;
}
.share_page .mui-content{
	padding-top: calc(44px + 6.667vw);
}
.share_page .swiper-slide{
	padding: 0 4.226vw;
}
.share_page .slider_contr{
	margin: 9.33vw 4.226vw 0;
	height: 9.8667vw;
}
.share_page .slider_contr img{
	padding: 0;
	width: 13.6vw;
	height: 9.8667vw;
}
.share_page .slider_contr .bd{
	color: #2E2E2E;
	font-weight: normal;
	text-align: center;
	height: 9.8667vw;
	line-height: 9.8667vw;;
}
.share_page .alert_cont {
	text-align: center;
}
.share_page .alert_cont .title{
	padding: 20px 0 4px;
}
.share_page .alert_cont button{
	margin-top: 32px;
}
.share_page .alert_cont .plateform_icon{
	width: 12.8vw;
}
.share_page .banner_box{
	border-radius:8px;
	box-shadow:3px 3px 11px rgba(0,0,0,0.21);
}
.share_page .banner_box .banner_con{
	padding: 8.266vw 6.4vw 15.467vw;
}
.share_page .custmor{
	padding-bottom: 8.2667vw;
	margin-bottom: 8.2667vw;
	border-bottom: solid 1px #EFEFEF;
}
.share_page .custmor .header{
	width: 16.2667vw;
	margin-right: 4.2667vw;
	border-radius: 100px;
}
.share_page .custmor .name{
	font-size: 4.8vw;
	color: #2E2E2E;
	font-weight: bold;
	margin-bottom: 5px;
}
.share_page .ewm .ewm_img{
	width: 25.867vw;
	margin-right: 6.933vw;
}
.share_page .ewm .dis{
	padding-top: 2.933vw;
	color: #636363;
}



.login_page .mui-content{
	min-height: 100vh;
	padding-top: 7.2vw;
	background: #fff url(../images/dl_bg.png) top center no-repeat;
	background-size: 100% auto;
}
.login_choose_box,.login_form_box{
	position: relative;
}
.login_choose_box .login_choose_img{
	display: block;
	width: 100vw;
	margin: 0 auto;
}
.login_choose_box .list{
	position: absolute;
	top: 110.1vw;
	width: 80.5vw;
	margin-left: 9.7vw;
	justify-content: space-between;
	
}
.login_choose_box .list > div {
	width:37.3vw;
	height: 37.7vw;
	background-color: transparent;
	border-radius:4px;
	
}

.login_form_box{
	position: relative;
}
.login_fyxy_img{
	width: 87.066667vw;
	display: block;
	margin: 0 auto;
}
.login_yxy_img{
	width: 87.066667vw;
	display: block;
	margin: 0 auto;
}
.login_page .form{
	position: absolute;
	top: 75.6vw;
	width: 64.8vw;
	left: 17.8vw;
	background: transparent;
}
.login_page .form input{
	height: 11.9vw;
	padding-left: 13.8vw;
	margin-bottom: 4.9vw;
	font-size: 3.467vw;
	color: #76e6eb;
	background-color: transparent;
}
.login_page .form button{
	display: block;
	width: 100%;
	height: 11.9vw;
	margin-top: 3.1vw;
	border: 0;
	background-color: transparent;
}
	
.login_page input::-webkit-input-placeholder{
	color: #76e6eb;
}
.login_page input:-moz-placeholder{
	color: #76e6eb;
}





.centeredVideo {
    display: block;
    width: 100%;
    height: 48vw;
    margin: 0 auto;
	background: orange;
}




